body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
  
  header, footer {
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2 {
    color: #fc0808;
  }
  
  ul {
    list-style: none;
    padding: 0;
    color: #f70ab4;
  }
  
  li {
    cursor: pointer;
   margin-top: 10px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }